[user]
	name = Theodor Kvalsvik Lauritzen
	email = 19690242+theodorklauritzen@users.noreply.github.com
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[submodule]
	recurse = true
